{% extends 'base.html.twig' %}

{% block title %}ActivityEntry index{% endblock %}

{% block body %}
    <h1>ActivityEntry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DoneDate</th>
                <th>StartDate</th>
                <th>Extend</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity_entry in activity_entries %}
            <tr>
                <td>{{ activity_entry.id }}</td>
                <td>{{ activity_entry.doneDate ? activity_entry.doneDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ activity_entry.startDate ? activity_entry.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ activity_entry.extend }}</td>
                <td>
                    <a href="{{ path('activity_entry_show', {'id': activity_entry.id}) }}">show</a>
                    <a href="{{ path('activity_entry_edit', {'id': activity_entry.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('activity_entry_new') }}">Create new</a>
{% endblock %}
