{% extends 'base.html.twig' %}

{% block title %}ActivityEntry{% endblock %}

{% block body %}
    <h1>ActivityEntry</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity_entry.id }}</td>
            </tr>
            <tr>
                <th>DoneDate</th>
                <td>{{ activity_entry.doneDate ? activity_entry.doneDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ activity_entry.startDate ? activity_entry.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Extend</th>
                <td>{{ activity_entry.extend }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('activity_entry_index') }}">back to list</a>

    <a href="{{ path('activity_entry_edit', {'id': activity_entry.id}) }}">edit</a>

    {{ include('activity_entry/_delete_form.html.twig') }}
{% endblock %}
